body{
    margin: auto;
}
h1 {
    background-color: rgb(27, 78, 245);
    margin: 0;
    color: gold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.recipes{
    background-color: rgb(56, 116, 255);
    margin-top: -20px;
}
ul{
    padding: 10px;
    text-align: center;
}

li{
    display: inline;
    margin: 0px;
    padding: 10px;
}
a {
    display: inline-block;
    color: white;
    text-decoration: none;
}
li:hover {
    background-color: rgb(89, 150, 255);
}